@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
padding: 0%;
box-sizing: border-box;
}


$primary: #fbb534;
$black: #000;
$white: #fff;
$textColor1: #040000;
$textColor2: #6c757d;
$testColor3: #3d3c3c;
$font-family: 'Poppins', sans-serif;


header{
    background-image: url(images/slider-img.jpg);
    height: 90vh;
    font-family: $font-family;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    .naslov{
        a{
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
    
    }
}
    .strelice{
        display: flex;
        img{
            width: 40px;
            background-color: $textColor1;
            border-radius: 15px;
            // .levo{
            //     position: absolute;
            //     left: 0px;
            // }
        }
    }

    nav{
        position: absolute;
        bottom: -50px;
        ul{
        display: flex;
         background-color: $testColor3;
         list-style: none;
         padding: 2rem 12rem;
         border-radius: 1rem;
         li{margin-left: 1rem;
            margin-right: 1rem;
            a{
                color: $white;
                justify-content: space-between;
                padding: 0.5rem 1.5rem;
                text-decoration: none;
            }
            .pretraga{
                img{
                    cursor: pointer;
                }
            }
         }
         }
        
         }
        
    }

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    font-family: $font-family;
    h1{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3rem;
    }
    button{
        background-color: $testColor3;
        color: $white;
        cursor: pointer;
        padding: 0.5rem 2rem;
        font-family: $font-family;
        font-size: 18px;
        text-transform: capitalize;
        &:hover{
            background-color: $white;
            color: $testColor3;
            border-color: $testColor3;
        }
    }
} 

.about{
    display: flex;
    justify-content: space-between;
    .slika{
        img{
            padding-left: 50px;
        }
    }
    .tekst{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 100px 100px 20px;
        font-family: $font-family;
        h2{
           font-weight: 500; 
            font-size: 2rem;
            padding-bottom: 20px;
        }
        p{
           padding-bottom: 30px;
           text-align: center;
        }
        button{
            background-color: $testColor3;
            color: $white;
            cursor: pointer;
            padding: 0.5rem 2rem;
            font-family: $font-family;
            font-size: 18px;
            text-transform: capitalize;
            &:hover{
                background-color: $white;
                color: $testColor3;
                border-color: $testColor3;
                }
            }
        }
    }

.fruit{
    h2{font-weight: 500; 
        font-size: 2rem;
        font-family: $font-family;
        padding: 50px 450px; 
    }
    .slike{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 20px;
        img{
            padding-bottom: 32px;
        }
    }
}   

.customer{
    h2{
        font-weight: 500; 
        font-size: 2rem;
        font-family: $font-family;
        padding: 50px 500px;
    }
    .sss{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .ttt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 150px;
        font-family: $font-family;
        text-align: center;
        h3{
            font-weight: 500;
            padding-bottom: 30px;
        }
        p{
            padding-bottom: 40px;
        }
    }
}

.forma{
    h2{
        font-weight: 500; 
        font-size: 2rem;
        font-family: $font-family;
        padding: 50px 550px;
    }
    form{
        display: flex;
        flex-direction: column;
        font-family: $font-family;
        padding: 30px 800px 30px 300px;
        input{
            padding: 1rem;
            margin: 1rem;
            border-color: $textColor2;
            &.poruka{
                padding-top: 60px;
                padding-bottom: 60px;
            }
            &::placeholder{
                text-transform: uppercase;
                color: $textColor2;
            }
            &.podnesi{
            background-color: $primary;
            color: $white;
            cursor: pointer;
            padding: 0.5rem 2rem;
            font-family: $font-family;
            font-size: 18px;
            text-transform: capitalize;
            border-color: $primary;
            width: 120px;
             }
        }
    }
}

footer{
    height: 50vh;
    font-family: $font-family;
    background-color: $testColor3;
    .naslov{
        text-align: center;
        a{
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            font-size: 3rem;
            font-weight: bold;
        
        }

    }
    .info{
        display: flex;
        justify-content: space-between;
        padding: 50px;
        margin: 0 50px 50px 50px;
        .location{
            display: flex;
            p{color: $white;
            font-family: $font-family;
            }
            img{
                width: 1rem;
                margin-right: 1rem;
            }
        }
        .call{display: flex;
            p{color: $white;
            font-family: $font-family;
            }
            img{
                width: 1rem;
                margin-right: 1rem;
            }
        }
        .mail{
            display: flex;
            p{color: $white;
            font-family: $font-family;
            }
            img{
                width: 1rem;
                margin-right: 1rem;
            }
        }
        
    }

}
.social{
    display: flex;
    justify-content: space-evenly;
    i{
        font-size:xx-large;
    }
}


